-
    let portfolio_item = [
            {title: "出前館 採用サイト", link: "https://recruit.demae-can.com/", img:"demaecan"},
            {title: "築地本願寺 他言語サイト", link: "https://tsukijihongwanji.jp/global/", img:"thukiji"},
            {title: "トラストコミュニケーション", link: "https://tcom.co.jp/", img:"tc"},
            {title: "日本大学商学部", link: "https://www.bus.nihon-u.ac.jp/", img:"nichidai"},
            {title: "アスリートファミリープロジェクト", link: "https://athlete-family-project.com/", img:"afp"},
            {title: "DJ Hostel Ginza", link: "https://dj-hostel-ginza.jp/", img:"djhotel"},
            {title: "TAG", link: "https://www.tag-group.jp/", img:"tag"},
        ];
.js-horizontal__01
    section.home__portfolio.js-horizontalArea01(id="home__portfolio")
        .home__portfolio-container.container
            h2.main__title.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.4s") Portfolio
                span.main__subTitle.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.6s") 2015-2021
            .js-horizontalArea__01
                .home__portfolio-area.js-horizontalArea__item01.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.8s")
                    each item in portfolio_item
                        a.home__portfolio-areaItem(class=`home__portfolio-areaItem--${item.img}` href=`${item.link}` target="_blank")
                            figure.home__portfolio-areaThum
                                img(src=`${relativePath}/_assets/images/top/portfolio_${item.img}.png`, alt=`${item.title}` width="300" height="400")
                            .home__portfolio-areaLink !{item.title}
