-
    let portfolio_item = [
            {title: "三菱UFJファクター", link: "ufj"},
            {title: "出前館 採用サイト", link: "demaecan"},
            {title: "築地本願寺 他言語", link: "thukiji"},
            {title: "トラストコミュニケーション", link: "tc"},
            {title: "milbon STYLIST CLUB", link: "milbon"},
            {title: "日本大学商学部", link: "nichidai"},
            {title: "アスリートファミリープロジェクト", link: "afp"},
            {title: "DJ Hostel Ginza", link: "djhotel"},
            {title: "TAG", link: "tag"},
        ];

.home__portfolio-area
    each item in portfolio_item
        a.home__portfolio-areaItem(href=`${relativePath}/`+`${item.link}` ontouchstart="")
            figure.home__portfolio-areaThum
                //- img(src=`${relativePath}/_assets/images/top/portfolio_${item.link}.jpg`, alt=`${item.title}`)
                img(src="https://placehold.jp/300x400.png", alt="")
            .home__portfolio-areaLink !{item.title}
