-
    let portfolio_item = [
      {target: "link", title: "オウンドメディア", link: "https://www.charle.co.jp/itsumotto/", img:"itsumotto"},
      {target: "link", title: "コーポレートサイト", link: "https://www.nint.jp/", img:"nint"},
      {target: "link", title: "コーポレートサイト", link: "https://www.jc-grp.com/", img:"jcg"},
      {target: "link", title: "コーポレートサイト", link: "https://www.jcnt.co.jp/", img:"jcnt"},
      {target: "more", title: "コーポレートサイト", link: "portfolio_01", img: "dummy"},
      {target: "more", title: "サービスサイト", link: "portfolio_02", img:"dummy"},
      {target: "more", title: "コミュニティアプリ", link: "portfolio_03", img:"dummy"},
      {target: "link", title: "ランディングページ 多言語", link: "https://tsukijihongwanji.jp/global/", img:"thukiji"},
    ];
.js-horizontal__01
    section.home__portfolio.js-horizontalArea01(id="home__portfolio")
        .home__portfolio-container.container
            h2.main__title.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.4s") Portfolio
                span.main__subTitle.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.6s") 2015-2024
            .js-horizontalArea__01
                .home__portfolio-area.js-horizontalArea__item01.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.8s")
                    each item in portfolio_item
                        if (item.target == "more")
                            a.home__portfolio-areaItem(class=`home__portfolio-areaItem--${item.img}` href=`${relativePath}/portfolio/${item.link}.html`)
                                figure.home__portfolio-areaThum
                                    img(src=`${relativePath}/_assets/images/top/portfolio_${item.img}.png`, alt=`${item.title}` width="300" height="400")
                                .home__portfolio-areaLink
                                    .home__portfolio-areaTitle !{item.title}
                                    .home__portfolio-areaLabel read more
                        else
                            a.home__portfolio-areaItem(class=`home__portfolio-areaItem--${item.img}` href=`${item.link}` target="_blank")
                                figure.home__portfolio-areaThum
                                    img(src=`${relativePath}/_assets/images/top/portfolio_${item.img}.png`, alt=`${item.title}` width="300" height="400")
                                .home__portfolio-areaLink !{item.title}
