header.siteHeader
    section.container
        .siteHeader__button.js-btn
            span.siteHeader__button-text
        nav.siteHeader__nav
            ul.siteHeader__navList
                li.siteHeader__navList-item: a(href=`${relativePath}/`) home
                li.siteHeader__navList-item: a(href=`${relativePath}/#home__portfolio`) portfolio
                li.siteHeader__navList-item: a(href=`${relativePath}/#home__profile`) profile
                li.siteHeader__navList-item: a(href=`${relativePath}/#home__career`) career
                li.siteHeader__navList-item: a(href=`${relativePath}/#home__skill`) skill
                li.siteHeader__navList-item: a(href=`${relativePath}/#home__tool`) tool
